@import url('https://fonts.googleapis.com/css?family=Alice|Bitter:400,700|Raleway:400,700&display=swap&subset=cyrillic');

body {
    margin: 0 20px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    color: #292929;
}

a {
    text-decoration: none;
    color: inherit;
}

button, button:disabled {
    color: #fff;
}

button:not(:disabled) {
    cursor: pointer;
}
